<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>开始使用 - 课程自动评估</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <meta name="theme-color" content="#fafafa">
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.idealclover.cn/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '4']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>

<body>
<!--[if lte IE 9]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
    your browser</a> to improve your experience and security.</p>
<![endif]-->
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">课程自动评估</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">开始使用 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://idealclover.top/" target="_blank">作者博客🔗</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/idealclover/Fxxk-NJU-Class-Evaluator" target="_blank">GitHub🔗</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container col-1-11 col-lg-6 tab">
    <!--<h1><span class="badge badge-secondary banner">👆使用前请查看使用帮助ww</span></h1>-->
    <form id="form">
        <!--<form id="form" action="/fuck" method="post">-->
        <div class="form-group">
            <label for="usernameInput">学号</label>
            <input type="text" class="form-control" id="usernameInput" aria-describedby="usernameHelp"
                   placeholder="请输入您的学号"/>
            <small id="usernameHelp" class="form-text text-muted">
                我们以南大同学的身份保证不会存储你的学号与密码<br/>
                欢迎在 <a href="https://github.com/idealclover/Fxxk-NJU-Class-Evaluator" target="_blank">GitHub</a> 上查看源码
            </small>
        </div>
        <div class="form-group">
            <label for="passwordInput">教务系统密码</label>
            <input type="password" class="form-control" id="passwordInput" aria-describedby="passwordHelp"
                   placeholder="请输入您的教务系统密码"/>
            <small id="passwordHelp" class="form-text text-muted">
                我们以南大同学的身份保证不会存储你的学号与密码<br/>
                欢迎在 <a href="https://github.com/idealclover/Fxxk-NJU-Class-Evaluator" target="_blank">GitHub</a> 上查看源码
            </small>
        </div>
        <div class="form-group">
            <label for="validateInput">验证码</label>
            <div class="row">
                <div class="col-8">
                    <input type="text" class="form-control" id="validateInput" placeholder="请输入您看到的验证码"/>
                </div>
                <div class="col-4">
                    <img class="col-sm" src="{{validatepic}}"/>
                </div>
            </div>
        </div>
        <button type="button" onclick="login()" class="btn btn-secondary">提交</button>
    </form>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">使用前说明</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        本工具由某无聊的同学开发<br />
        仅用来针对<b>需要默认好评的课程</b><br />
        请<b>确保</b>您其他需要评价的课程已评价完毕<br />
        <b>上课不易，请不要轻易放弃您的权利</b><br />
        谢谢合作！
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="window.open('', '_self', '');window.close();">退出</button>
        <a type="button" class="btn btn-primary" href="http://elite.nju.edu.cn/jiaowu/" target="_blank">去教务网评价</a>
        <button type="button" class="btn btn-primary" data-dismiss="modal">确认使用</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ready" tabindex="-1" role="dialog" aria-labelledby="readyTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successTitle">登录成功</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        登录成功！确定直接评价吗？
      </div>
      <div class="modal-footer">
        <button type="button" id="fuck_back_button" class="btn btn-secondary" data-dismiss="modal">我再想想</button>
        <button type="button" id="fuck_button" class="btn btn-primary" onclick="fuck()">确认使用</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="success" tabindex="-1" role="dialog" aria-labelledby="successTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successTitle">评价成功</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        评价成功！可前往教务网查看
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">退出</button>
        <a type="button" class="btn btn-primary" href="https://github.com/idealclover/Fxxk-NJU-Class-Evaluator" target="_blank">源码地址</a>
        <a type="button" class="btn btn-primary" href="https://idealclover.top/" target="_blank">作者博客</a>
        <a type="button" class="btn btn-primary" href="http://elite.nju.edu.cn/jiaowu/" target="_blank">去教务网查看</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fail" tabindex="-1" role="dialog" aria-labelledby="failTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="successTitle">遭遇异常</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="fail_content" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

<script>
    $(window).on('load',function(){
        $('#myModal').modal({show: true, keyboard: false, backdrop: 'static'});
    });
    function login() {
        // var a = $('#form').serialize();
        var usr = $('#usernameInput').val();
        var pwd = $('#passwordInput').val();
        var val = $('#validateInput').val();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/login",
            data: {'username': usr, 'password': pwd, 'validateCode': val},
            success: function (result) {
                {#console.log(result);#}
                if (result.status === "success") {
                    $('#ready').modal({show: true});
                } else if (result.status === "validate error") {
                    $('#fail_content').html('验证码错误，请重新输入');
                    $('#fail').modal({show: true});
                } else if (result.status === "username error") {
                    $('#fail_content').html('用户名错误，请重新输入');
                    $('#fail').modal({show: true});
                } else if (result.status === "password error") {
                    $('#fail_content').html('密码错误，请重新输入');

                    $('#fail').modal({show: true});
                } else {
                    $('#fail_content').html('未知错误，可能是傻翠服务器炸了');
                    $('#fail').modal({show: true});
                }
            },
            error: function (e) {
                console.log(e);
                $('#fail_content').html('未知错误，可能是傻翠服务器炸了');
                $('#fail').modal({show: true});
            }
        });
    }
    function fuck(){
        var $btn = $("#fuck_button");
        $btn.prop("disabled", true);
        $btn.html("<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span> Loading...");
        var $back = $("#fuck_back_button");
        $back.prop("disabled", true);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/fuck",
            success: function (result) {
                {#console.log(result);#}
                if (result.status === "success") {
                    $btn.button('reset');
                    $('#success').modal({show: true});
                } else {
                    $('#fail_content').html('未知错误，可能是傻翠服务器炸了');
                    $('#fail').modal({show: true});
                }
            },
            timeout: 30000,
            error: function (e) {
                console.log(e);
                $('#fail_content').html('未知错误，可能是傻翠服务器炸了');
                $('#fail').modal({show: true});
            }
        });
    }
</script>

</html>
